
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .user-status{
    margin: 0;
    padding: 0;
    background-color: rgba(36, 37, 36, 0.413);
    min-height: 100vh;
padding-top: 10px;
  }
  .submission-message {
    font-size: 18px;
    font-weight: bold;
    color: #16a520;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.4;

  }
  
  /* User Card Styles */
  .user-card {
 background-color: #ffffff;
        border-radius:2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    margin:  auto;
   
  }
  
  .user-card p {
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  .btn-close {
 margin-top: 20px;
 background-color: rgb(8, 0, 255) !important;
  }
  
  .user-card .label {
    font-weight: bold;
    color: #555;
    margin-right: 10px;
    min-width: 100px; 
  }
  
  .user-card .email {
    color: #007bff;
  }
  
  .user-card .name {
    color: #333;
    font-size: 18px;
  }
  
  .user-card .cnic {
    color: #555;
  }
  
  .user-card .address {
    color: #777;
    font-style: italic;
  }
  
  /* Status Styles */
  .user-card .status {
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  
 
  
  .status-approved{
    background-color: #f8e092;
    color: #07a424;
    padding: 7px;
    border-radius: 5px;
font-size: large !important;
display: flex;
justify-content: center;
align-items: center;
  }

  .status-pending{
    font-size: large !important;
    background-color: #fff3cd;
    color: #ff7b00;
    border: 1px solid #ffeeba;
    padding: 7px;
    border-radius: 7px;
    display: flex;
justify-content: center;
align-items: center;
   
  }
  .status-reject{
    font-size: large !important;
    background-color: #fff3cd;
    color: #ff0000;
    border: 1px solid #ffeeba;
    padding: 7px;
    border-radius: 7px;
    display: flex;
justify-content: center;
align-items: center;
   
  }

  .download-btn p{
color: blue;
text-decoration: underline;
/* width: 120px; */
margin: auto;
font-size: 12px;

}


.qr-code{
  /* display: flex; */
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 350px;
  margin: auto;
  border-radius: 1px;
  padding: 10px;
  
}
.qr-code p:nth-of-type(1){
  color: black;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 20px;
}
