*{
font-family: Arial, Helvetica, sans-serif;
}
.loader-div{
    background-color: rgb(235, 244, 246);
    height: 100vh;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.loader-div2{
    /* background-color: rgb(235, 244, 246); */
   
display: flex;
justify-content: center;
align-items: center;
}
.loader-div3{
    background-color: rgb(255, 255, 255);
   height: 100vh;
   width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.No-data-div{
    color: white;
    background-color: rgb(159, 156, 152);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    
}

.logo-pic-menu{
    background-color: rgb(0, 255, 38);
    border: 3px solid rgb(255, 255, 255);
    border-radius:100%;
    width: 40px;
    padding: 5px;
    text-align: center;
    margin-top: 8px;
    z-index: 9999;
    position: absolute;
    top: -6;
    right: 6px;
    position: fixed;
} 

@media(min-width:599px){
    .logo-pic-menu{
        display: none;
    }
}

.btn-loginAdmin{
    background-color: rgb(42, 226, 226);
    text-align: center;
    padding: 5px 0px;
}

.btn-loginAdmin button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    
}


